/* Reset default styles for all elements */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Body styling */
body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    color: #333;
    background: url('../img/back.jpg') no-repeat center center fixed;
    background-size: cover;
    display: flex; /* Enable flexbox for alignment */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    min-height: 100vh; /* Full viewport height */
    margin: 0; /* Remove default margin */
}

/* Header styling */
header {
    background-color: #87CEEB; /* Sky-blue color */
    color: white;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Full width for header */
    position: fixed; /* Stick to top */
    top: 0;
    z-index: 1000;
}

/* Logo inside the header */
header .logo img {
    width: 50px;
    margin-right: 10px;
}

/* Navigation styling */
header nav a {
    color: white;
    text-decoration: none;
    margin: 0 15px;
    font-weight: bold;
}

header nav a:hover {
    text-decoration: underline;
}

/* Container styling */
.container {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 500px; /* Limit container width */
    text-align: center;
}

/* Heading styling */
h1 {
    margin-bottom: 20px;
    color: #87CEEB;
}

/* Form and inputs styling */
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

input, select, button {
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
    font-size: 16px;
}

/* Button styling */
button {
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    border: none;
    border-radius: 100px;
    background: #87CEEB;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #00a1c1;
}

/* Error and response messages */
#error-message {
    color: red;
}

#response-message {
    color: #87CEEB;
}

/* Navbar specific styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #87CEEB; /* Sky-blue background */
    color: white;
    padding: 25px 20px;
    position: fixed; /* Stick to top */
    top: 0;
    width: 100%; /* Full width */
    z-index: 1000;
}

/* Logo styling for navbar */
.navbar .logo {
    font-size: 20px;
    font-weight: bold;
}

/* Navigation links in the navbar */
.nav-links {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-size: 16px;
    transition: color 0.3s;
}

/* Change link color on hover */
.nav-links a:hover {
    color: #00bcd4;
}
